<h2>
	ASP.NET Core WebAPI / MVC Application
</h2>
<p>
	Created for the Patronage 2019 DotNet Group request.<br />
	Hosted as the Azure App Service. Uses Swagger UI aswell.
</p>
<p>
	Application URL:<br />
	<a href="/">http://patr-study.azurewebsites.net</a>
</p>
<p>
	Application Swagger UI URL:<br />
	<a href="/swagger">http://patr-study.azurewebsites.net/swagger</a>
</p>
<p>
	Github repository:<br />
	<a href="https://github.com/Sokolowski-Michal-Piotr/patr-aspnet">https://github.com/Sokolowski-Michal-Piotr/patr-aspnet</a>
</p>